{% extends "base.html" %} {% block title %} Login -FixIt Umndoni{% endblock %}
{% block content %}
<!-- Content Section -->
<div class="login-sign">
     <!-- Container for content -->
     <div class="wrapper">
        <!-- Form for login -->
        <form action="/login" method="post">
            <!-- Login heading -->
            <h1> Login</h1>

            <!-- Email input box with mail icon -->
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
                <i><ion-icon name="mail-outline"></ion-icon></i>
            </div>

            <!-- Password input box with lock icon -->
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i><ion-icon name="lock-closed-outline"></ion-icon></i>
            </div>



            <!-- Login button -->
            <button type="submit" class="btn">Login</button>

            <!-- Register link -->
            <div class="register-link">
                <p>Don't have an account? <a href="/signup">Register</a></p>
            </div>
        </form>
    </div>

</div>
{% endblock %}
