{% extends "admin-base.html" %}

{% block title %}
    FixIt Umdoni - Maintenance Team Dashboard
{% endblock %}

{% block content %}

<div class="dashboard-section">
    <div class="Maintenance-section">
        <div class="section-content">
            <div class="section-header">
                <h3>Maintenance Team Info</h3>
                <!-- Button to trigger the popup form -->
                <button onclick="openPopup()">Add Team <span class="las la-arrow-right"></span></button>

                <!-- Popup form -->
                <div id="popup" class="overlay-background">
                    <div class="popup-form">
                        <h2>Add Team</h2>
                        <form action="/maintenance-team" method="post">
                            <label for="foreman">Foreman:</label>
                            <input type="text" id="foreman" name="foreman" required>
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" required>
                            <label for="number">Phone Number:</label>
                            <input type="tel"  name='number' id="number" required>
    
                            <label for="department">Department:</label>
                            <select id="department" name="department" required>
                                <option value="streetlights">Streetlights</option>
                                <option value="potholes">Potholes</option>
                                <option value="garbage Collection">Garbage Collection</option>
                                <option value="illegal Dumping">Illegal Dumping</option>
                                <option value="storm Drains">Storm Drains</option>
                            </select>
    
                            <div class="buttons">
                                <button type="submit">Submit</button>
                                <button onclick="closePopup(event)">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
  
                    <script>
                        // Function to open the popup
                        function openPopup() {
                            document.getElementById('popup').style.display = 'flex';
                        }
        
                        // Function to close the popup
                        function closePopup(event) {
                            event.preventDefault();
                            document.getElementById('popup').style.display = 'none';
                        }
                        
                    </script>
            </div>
            
            <div class="table-responsive">
                <table width="100%">
                    <!-- Table header with column names -->
                    <thead>
                        <tr>
                            <th>Foreman</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Number of jobs</th>
                        </tr>
                    </thead>
                    <!-- Table body with query information -->
                    <tbody>

                        {% for team_member in maintenance_Team %}
                        <tr>
                            <td>{{ team_member.foreman_name }}</td>
                            <td>{{ team_member.department }}</td>
                            <td>{{ team_member.email }}</td>
                            <td>{{ team_member.phone_number }}</td>
                            
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
