/* Importing Google Fonts for the 'Poppins' and 'Vina Sans' font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vina+Sans&display=swap');

/* Resetting default margin, padding, and box-sizing for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Setting the default font family for the body and removing text decoration for anchor tags */
body{
    font-family: "Poppins",sans-serif;
}

a, a:hover{
    text-decoration: none;
}

/* Styling for the top bar containing contact information and social media links */
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #ADD8E6;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
    font-size: 20px;
    font-weight: bold
}

.top-bar a:hover{
    color: #222;
}

/* Styling for the main navigation bar */
nav{
    background: #0000FF;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
}

nav a:hover{
    color: #ef4b3f;
}

/* Styling for the logo section in the navigation bar */
.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.logo a:hover{
    color: #fff;
}

.logo img{
    width: 90px;
    margin-right: 30px;
    border-radius: 50%;
}

/* Styling for the menu items in the navigation bar */
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

/* Styling for the menu toggle button */
.toggle{
    font-size: 30px;
    display: none;
}

/* Media query for responsive design on screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}



/* BELOW IS STYLE FOR HOME PAGE*/

/* Styling for the header section of the Home page the page */
header{
    text-align: center;
    font-family: "Poppins",sans-serif;
    margin-bottom: 70px;
}

header h1{
    font-size: 60px;
}

header p{
    font-size: 40px;
}

/* Styling for the sections on home page*/
section {
    text-align: center;
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 30px; 
    border: 5px solid #ddd; 
    margin-bottom: 15px;
 
  }
 /* Remove default list styling (numbers) for the ordered list within a section */
section ol {
    list-style: none;
}
 /* Remove default list styling (numbers) for the ordered list within a section */
 section ul {
    list-style: none;
}
/* Styling for the heading within a section */
section h2{
    font-size: 45px;
    margin-bottom: 30px;
}

/* Styling for paragraphs within a section */
section p{
    font-size: 20px;
    font-weight: bold;
}

/* Styling for subheadings within a section */
section h3{
    font-size: 23px;
    font-weight: bold;
}

/* Styling for ion-icon within an h2 heading */
h2 ion-icon {
    margin-left: 8px; 
    font-size: inherit;
}

/* Styling for images with the class 'step-image' within a section */
img.step-image {
    width: 100%; 
    max-width: 170px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
    margin-bottom: 15px;
}
/* Additional styling for the instruction text */
section .instruction-text {
    font-size: 18px;
}

/* Styling for the list items within the Featured Categories section */
section .featured-categories li {
    font-size: 28px; 
    margin-bottom: 5px; 
    font-weight: bold;
}
.featured-categories li img.category-icon {
    height: 40px; 
    margin-right: 10px; 
}
.SignupButton{
    color: #fff;

    padding: 12px 26px;
    border-radius: 10px;
    background: #0000FF;
    margin: 0 auto;
    font-size: 1rem;
    transition: all 0.2a ease;
}
.SignupButton:active{
    transform: scale(0.94);
}
.SignupButton:hover {
    background: #6c9ff0; 
    transform: scale(1.05); 
}


/* Media query for responsive design on screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    section {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    section h2 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    section p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    section h3 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .featured-categories li {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .featured-categories li img.category-icon {
        height: 30px; /* Adjust icon height for smaller screens */
    }
}

/* Your existing styles for larger screens */

/* Styling for the sections on home page */
section {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
    border: 5px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Remove default list styling (numbers) for the ordered list within a section */
section ol {
    list-style: none;
}

/* Remove default list styling (numbers) for the ordered list within a section */
section ul {
    list-style: none;
}

/* Styling for the heading within a section */
section h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

/* Styling for paragraphs within a section */
section p {
    font-size: 20px;
    font-weight: bold;
}

/* Styling for subheadings within a section */
section h3 {
    font-size: 23px;
    font-weight: bold;
}

/* Styling for ion-icon within an h2 heading */
h2 ion-icon {
    margin-left: 8px;
    font-size: inherit;
}

/* Styling for images with the class 'step-image' within a section */
img.step-image {
    width: 100%;
    max-width: 170px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-bottom: 15px;
}

/* Additional styling for the instruction text */
section .instruction-text {
    font-size: 18px;
}

/* Styling for the list items within the Featured Categories section */
section .featured-categories li {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: bold;
}

.featured-categories li img.category-icon {
    height: 40px;
    margin-right: 10px;
}

/* Styling for the SignupButton */
.SignupButton {
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    background: #0000FF;
    margin: 0 auto;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.SignupButton:active {
    transform: scale(0.94);
}

.SignupButton:hover {
    background: #6c9ff0;
    transform: scale(1.05);
    cursor: pointer;
}


/* User Dashboard Section*/

/* the category section */
.category-section {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

/* heading within the category section */
.category-section h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

/*underline effect after the heading */
.category-section h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* grid layout of categories */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

/* individual categories */
.categories {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

/*category images */
.category-images {
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

/*category headings */
.categories h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

/*category hover effect */
.categories:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}


/*User Report Page Style*/


/* e dropdown icon */
.dropdown-icon {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 4px;
}

/*  overall report form container */
.report-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.report-form h3 {
    margin: 10px 0;
    font-size: 20px;
}

/*  dropdown container */
.dropdown {
    position: relative;
    margin-top: 10px;
    width: 300px;
    height: 50px;
}

/* icon before the dropdown */
.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

/* arrow icon when the dropdown is activated */
.dropdown.activate::before {
    top: 22px;
    transform: rotate(-225deg);
}

/* text input inside the dropdown */
.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

/*  dropdown options container */
.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

/* dropdown options when the dropdown is activated */
.dropdown.activate .option {
    display: block;
}

/*  each option inside the dropdown */
.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

/* hover effect on dropdown options */
.dropdown .option div:hover {
    background: #62baea;
}


/* Style for the brief description field */
h3 {
    margin: 10px 0;
    font-size: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the image upload */
input[type="file"] {
    margin-top: 10px;
}

label[for="image-upload"] {
    
    margin-right: 20px; 
}

/* Style for the address field */
label[for="address"] {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

input#address {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style for the submit button */
input[type="submit"] {
    background: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #45a049;
}