/* Importing Google Fonts for the 'Poppins' and 'Vina Sans' font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vina+Sans&display=swap');

/* Resetting default margin, padding, and box-sizing for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Setting the default font family for the body and removing text decoration for anchor tags */
body{
    font-family: "Poppins",sans-serif;
}

a, a:hover{
    text-decoration: none;
}

/* Styling for the top bar containing contact information and social media links */
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #ADD8E6;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
    font-size: 20px;
    font-weight: bold
}

.top-bar a:hover{
    color: #222;
}

/* Styling for the main navigation bar */
nav{
    background: #0000FF;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
}

nav a:hover{
    color: #ef4b3f;
}

/* Styling for the logo section in the navigation bar */
.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.logo a:hover{
    color: #fff;
}

.logo img{
    width: 90px;
    margin-right: 30px;
    border-radius: 50%;
}

/* Styling for the menu items in the navigation bar */
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

/* Styling for the menu toggle button */
.toggle{
    font-size: 30px;
    display: none;
}

/* Media query for responsive design on screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
/* Styles for the popup container */
.popup {
    width: 400px;
    background: #e0e0e0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000;
}

/* Styles for the open-popup state of the container */
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* Styles for images inside the popup */
.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles for heading 2 inside the popup */
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

/* Styles for buttons inside the popup */
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4a82d6;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



/* BELOW IS STYLE FOR HOME PAGE*/

/* Styling for the header section of the Home page the page */
header{
    text-align: center;
    font-family: "Poppins",sans-serif;
    margin-bottom: 70px;
}

header h1{
    font-size: 60px;
}

header p{
    font-size: 40px;
}

/* Styling for the sections on home page*/
section {
    text-align: center;
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 30px; 
    border: 5px solid #ddd; 
    margin-bottom: 15px;
 
  }
 /* Remove default list styling (numbers) for the ordered list within a section */
section ol {
    list-style: none;
}
 /* Remove default list styling (numbers) for the ordered list within a section */
 section ul {
    list-style: none;
}
/* Styling for the heading within a section */
section h2{
    font-size: 45px;
    margin-bottom: 30px;
}

/* Styling for paragraphs within a section */
section p{
    font-size: 20px;
    font-weight: bold;
}

/* Styling for subheadings within a section */
section h3{
    font-size: 23px;
    font-weight: bold;
}

/* Styling for ion-icon within an h2 heading */
h2 ion-icon {
    margin-left: 8px; 
    font-size: inherit;
}

/* Styling for images with the class 'step-image' within a section */
img.step-image {
    width: 100%; 
    max-width: 170px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
    margin-bottom: 15px;
}
/* Additional styling for the instruction text */
section .instruction-text {
    font-size: 18px;
}

/* Styling for the list items within the Featured Categories section */
section .featured-categories li {
    font-size: 28px; 
    margin-bottom: 5px; 
    font-weight: bold;
}
.featured-categories li img.category-icon {
    height: 40px; 
    margin-right: 10px; 
}
.SignupButton{
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    background: #0404af;
    margin: 0 auto;
    font-size: 1rem;
    transition: all 0.2a ease;
}
.SignupButton:active{
    transform: scale(0.94);
}
.SignupButton:hover {
    background: #6c9ff0; 
    transform: scale(1.05); 
}


/* Media query for responsive design on screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    section {
        padding: 15px; 
    }

    section h2 {
        font-size: 30px; 
    }

    section p {
        font-size: 16px; 
    }

    section h3 {
        font-size: 18px;    
    }

    .featured-categories li {
        font-size: 20px; 
    }

    .featured-categories li img.category-icon {
        height: 30px; 
    }
}


/* Styling for the sections on home page */
section {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
    border: 5px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Remove default list styling (numbers) for the ordered list within a section */
section ol {
    list-style: none;
}

/* Remove default list styling (numbers) for the ordered list within a section */
section ul {
    list-style: none;
}

/* Styling for the heading within a section */
section h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

/* Styling for paragraphs within a section */
section p {
    font-size: 20px;
    font-weight: bold;
}

/* Styling for subheadings within a section */
section h3 {
    font-size: 23px;
    font-weight: bold;
}

/* Styling for ion-icon within an h2 heading */
h2 ion-icon {
    margin-left: 8px;
    font-size: inherit;
}

/* Styling for images with the class 'step-image' within a section */
img.step-image {
    width: 100%;
    max-width: 170px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-bottom: 15px;
}

/* Additional styling for the instruction text */
section .instruction-text {
    font-size: 18px;
}

/* Styling for the list items within the Featured Categories section */
section .featured-categories li {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: bold;
}

.featured-categories li img.category-icon {
    height: 40px;
    margin-right: 10px;
}

/* Styling for the SignupButton */
.SignupButton {
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    background: #0000FF;
    margin: 0 auto;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.SignupButton:active {
    transform: scale(0.94);
}

.SignupButton:hover {
    background: #6c9ff0;
    transform: scale(1.05);
    cursor: pointer;
}


/*Login and Signup*/
/* Styling for the main content section */
.login-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: #eceff1;
   
}

/* Styling for the wrapper/container */
.wrapper {
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    background: #eceff1;
}

/* Styling for the heading inside the wrapper */
.wrapper h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
}

/* Styling for the input boxes and their contents */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.071);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Styling for the "remember me" and "forgot password" section */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot label {
    color: rgb(85, 77, 77);
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Styling for the login button */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background:#4a61e2;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Styling for the register link section */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {

    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* User Dashboard Section*/

/* the category section */
.category-section {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

/* heading within the category section */
.category-section h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

/*underline effect after the heading */
.category-section h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* grid layout of categories */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

/* individual categories */
.categories {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

/*category images */
.category-images {
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

/*category headings */
.categories h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

/*category hover effect */
.categories:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}


/*User Report Page Style*/


/* e dropdown icon */
.dropdown-icon {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 4px;
}

/*  overall report form container */
.report-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.report-form h3 {
    margin: 10px 0;
    font-size: 20px;
}

/*  dropdown container */
.dropdown {
    position: relative;
    margin-top: 10px;
    width: 300px;
    height: 50px;
}

/* icon before the dropdown */
.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

/* arrow icon when the dropdown is activated */
.dropdown.activate::before {
    top: 22px;
    transform: rotate(-225deg);
}

/* text input inside the dropdown */
.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

/*  dropdown options container */
.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

/* dropdown options when the dropdown is activated */
.dropdown.activate .option {
    display: block;
}

/*  each option inside the dropdown */
.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

/* hover effect on dropdown options */
.dropdown .option div:hover {
    background: #62baea;
}


/* Style for the brief description field */
h3 {
    margin: 10px 0;
    font-size: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the file input container */
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;  /* Add the margin-top style */
}

/* Style for the actual file input */
input[type="file"] {
    margin-top: 10px;
}

label[for="image-upload"] {
    
    margin-right: 20px; 
}

/* Style for the address field */
label[for="address"] {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

input#address {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}


/*  Submit button style  */
.btn {
    border-radius: 1.5em;
    display: block;
    position: relative;
    width: 7.5em;
    height: 3em;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: none;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
}

/* Submit button active state */
.btn:not(:disabled):active {
    transform: translateY(0.1em);
}

/* Submit button text styles */
.btn__text {
    background-color: var(--primary1);
    border-radius: inherit;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    padding: 0.75em 1.5em;
    transition: background-color 0.15s linear, color 0.15s 0.3s ease-in-out;
    width: 100%;
}

/* Submit button hover and focus styles */
.btn:not(:disabled):focus .btn__text,
.btn:not(:disabled):hover .btn__text {
    background-color: var(--primary2);
}

/* Progress indicator styles */
.btn__progress {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    visibility: hidden;
}

/* Progress track styles */
.btn__progress-track {
    r: 12px;
    stroke: var(--bg2);
    stroke-width: 24;
}

/* Progress fill styles */
.btn__progress-fill {
    stroke: var(--primary1);
    stroke-dashoffset: 125.66;
}

/* Progress check styles */
.btn__progress-check {
    stroke: hsl(0, 0%, 100%);
    stroke-dashoffset: 34;
}

/* Both running and done states styles */
.btn--running,
.btn--done {
    outline: none;
    pointer-events: none;
    width: 3em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Text and progress visibility transition for running and done states */
.btn--running .btn__text,
.btn--done .btn__text {
    color: transparent;
    transition: background-color 0.3s ease-in-out, visibility 0.3s steps(1);
}

/* Progress visibility transition for running and done states */
.btn--running .btn__progress,
.btn--done .btn__progress {
    visibility: visible;
}

/* Running state styles */
.btn--running .btn__text {
    background-color: var(--bg2);
    visibility: hidden;
}

/* Progress styles for running state */
.btn--running .btn__progress {
    transition: visibility 0.3s 0.3s steps(1, start);
}

/* Progress track transition for running state */
.btn--running .btn__progress-track {
    r: 20px;
    stroke-width: 8;
    transition: r 0.3s 0.3s ease-in-out, stroke-width 0.3s 0.3s ease-in-out;
}

/* Progress fill transition for running state */
.btn--running .btn__progress-fill {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s 0.6s linear;
}

/* Done state styles */
.btn--done .btn__progress-track {
    stroke: var(--primary1);
    transition: r 0.3s ease-in-out, stroke-width 0.3s ease-in-out;
}

/* Progress check transition for done state */
.btn--done .btn__progress-check {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s 0.3s ease-out;
}

/* Root variables for color scheme and font size */
.button-styles {
    --hue: 223;
    --bg1: hsl(var(--hue), 10%, 90%);
    --bg2: hsl(var(--hue), 10%, 80%);
    --fg1: hsl(var(--hue), 10%, 10%);
    --fg2: hsl(var(--hue), 10%, 20%);
    --primary1: hsl(var(--hue), 90%, 55%);
    --primary2: hsl(var(--hue), 90%, 45%);
    font-size: calc(20px + (40 - 20) * (100vw - 320px) / (1280 - 320));
}

/*Style for Tracking Page*/

/* Container styling for the entire tracking section */
.track-style{
    width: 100%;
    min-height: 100vh;
    background:#8c9eff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

/* Styling for the main information container */
.track-info{ 
    width: 75%;
    max-width: 100%;
    padding: 40px;
    margin: 0 auto;
    background: #eceff1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

/* Styling for the details section within the main container */
.details{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for the reported issue title */
.Issue h1{
    text-transform: uppercase;
}

/* Styling for the span within the reported issue title */
.Issue span{
    color: #007bfd;
}

/* Styling for the date information */
.date p{
    font-size: 1.1em;
}

/* Styling for the progress tracker */
.track{
    margin: 4em 0 8em;
}

/* Styling for the progress tracker list */
#progress {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    position: relative;
    text-align: center;
}

/* Styling for individual progress tracker items */
#progress li{
    width: 20%;
    position: relative;
}

/* Styling for the checkmark before completed items in the progress tracker */
#progress li::before{
    content: '\2713';
    position: absolute;
    display: flex;
    justify-content:center;
    width: 50px;
    align-items: center;
    font-size: 2rem;
    height: 50px;
    background:  #651fff;
    color: #fff;
    border-radius: 50%;
    z-index: 11111;
}



/* Styling for the line indicating remaining progress in the progress tracker */
#progress::after{
    content: '';
    position: absolute;
    top: 20px;
    width: 80%;
    height: 10px;
    background: #c5cae9;
}

/* Styling for the section containing the different stages of the issue resolution process */
.track-lists{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

/* Styling for individual stages in the issue resolution process */
.track-list{
    display: flex;
    gap: 1em;
    flex: 1 1 50px ;
}

/* Styling for the text within each stage in the issue resolution process */
.track-list p{
    font-size: 1.1em;
}

/* Styling for the icons representing different stages in the issue resolution process */
.track-lists img{
    width: 50px;
    height: 40px;
}



/*Style for User Profile*/

/* Styling for focused form controls */
.form-control:focus {
    box-shadow: none;       
}

/* Styling for the profile button */
.profile-button {
    box-shadow: none;
    border: none;                 
}
/* Styling for the profile button when focused */
.profile-button:focus {
    box-shadow: none;    
}

/* Styling for the profile button when active (pressed) */
.profile-button:active {
    box-shadow: none; 
}

/* Styling for the back link on hover */
.back:hover {
    cursor: pointer;
}

/* Styling for labels */
.labels {
    font-size: 11px;
}
